.btn {
	text-align: center;
	size: 20px 30px;
}
div.topnav {
	text-align: center;
	background-color: grey;
	height: 50px;
}
ul {
	padding-top: 13px;
}
li {
	display: inline;
	list-style-type: none; 
	padding: 10px 30px;
}
a {
	color: black;
	font-family: sans-serif;
	font-size: 20px;
	text-decoration: none;
}
a:hover { 
    color: white;
    background-color: black;
    border-style: solid;
    transition: 0.5s ease;
}
button:hover {
	background-color: blue;
	color: red;
	transition: 1s ease;
}